body{
    background-color: #F5F5DC; /* Beige eller annan krämig färg */
    color: #333333; /* Mörkgrå textfärg */
    margin: 0;
    padding: 0;
}
/* CSS FOR TEXT */
h1, p{
    color: #333333;
    text-align: center;
}

/* Border for index */
.content-container{
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;

}
/* NAVBAR */
.navbar-brand{
    margin-left: 20px;
}
/* Top image  */
.banner{
    height: 200px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url("https://res.cloudinary.com/dhpnihgnt/image/upload/v1724408892/static/images/plant-pottingshed-4.jpg");
    background-size: cover;
    background-position: center;
}

.jumbotron {
    background: none;
    height: 20%;
}

.container-fluid {
    color: white;
}

/* Img responsiv */
.img-responsive{
    max-width: 100%;
    min-width: 60%;
    max-height: 200px; 
    height: auto;
}

/* Hero img overlay */

.about-us{
    padding-left: 15%;
    padding-right: 15%;
    background-color: rgba(0, 0, 0, 0.7);
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* Hero img  */

.about-us-container{

    background-image: url('https://res.cloudinary.com/dhpnihgnt/image/upload/v1724408891/static/images/kockar-med-eld.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0;
    padding-top: 10%;
    padding-bottom: 10%;

}

/* About us heading */

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

/* Info about us */

.info-list, h3{
    font-size: 42px;
    padding-top: 30px;
    font-weight: 700;
    color: rgb(161, 125, 71);
}

.info-list, p {
    font-weight: 400;
    font-size: medium;
    color: black;
}

.thick-font{
    font-weight: 700;

}

.info-text{
    
    margin-bottom: 30px;
    text-align: left;
}

/* Sign in, register and out css */
.btn {
    background-color: white;
    box-shadow: 3px 4px 2px 2px gray;
}
/* text center for sign up, register and out */

.lead {
    text-align: center;
}

p{
    text-align: left;
}

.container1{
    box-shadow: 7px 4px 5px 5px gray;
    padding-bottom: 50px;
}
/* CTA for login page */

.sell-pitch{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sign-up{
    margin-top: 30px;
    margin-bottom: 60px;
    
}

.signup{
    box-shadow: 7px 4px 5px 5px gray;
    padding-bottom: 50px;
    padding: 15px;
}

.account-r{
    padding-top: 30px;
}

/* BOOKFORM */

.book-head{
    padding-top: 40px;
    padding-bottom: 40px;
}

.book-form{
    box-shadow: 7px 4px 5px 5px gray;
    padding: 40px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 90px;
}

.book-form label {
    margin-bottom: 10px;
}

.book-form .form-group {
    margin-bottom: 15px;
}

.book-form input,
.book-form select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.book-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.book-form button:hover {
    background-color: #0056b3;
}


/* Login and succsess message */
.messages {
    margin: 20px 20px;
    text-align: center;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size:xx-large;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* CSS FOR NEWS LIST */

.news-header{
    padding-bottom: 10%;
    padding-top: 10%;
    font-size: 52px;
}

/* For the hole element */
.news-item{
    text-align: center;
    margin: 40px;
    border-style: solid;
}
/* For the news content */
.news-content{
    text-align: center;
    margin: 40px;
}
/* For the news img */
.img-list {
    max-width: 33%; 
    height: auto;    
    display: block;  
    margin-left: auto; 
    margin-right: auto; 
}
/* For the news title */
.news-h2{
    margin-top: 15px;
}