<!DOCTYPE html>
<html lang="en">

<head> <title>Swedish Dishes</title></head>
{% extends "resturant/base.html" %}

{% block content %}
<h1 class="bookings-head">My Bookings</h1>

<div class="container-book">
    <!--{% if bookings %}-->
    <ul class="bookings">
        {% for booking in bookings %}
            <li class="booking-item">
                <div class="booking-details" data-bs-toggle="modal" data-bs-target="#bookingModal" 
                     data-date="{{ booking.booking_date }}" data-time="{{ booking.booking_time }}">
                    <p>Date: {{ booking.booking_date }}</p>
                    <p>Time: {{ booking.booking_time }}</p>
                    <p>Guests: {{ booking.number_of_people }}</p>
                    <p>Location: Eskilstuna Kungsgatan 36</p>
                </div>
            </li>
                <!-- Booking actions should be inside the <li> -->
                <div class="booking-actions">
                    <a href="{% url 'update_booking' booking.id %}" class="button-change">Change booking</a>
                    <a href="{% url 'delete_booking' booking.id %}" class="button-cancel">Cancel booking</a>
                </div>
        {% endfor %}
    </ul>
    <!--{% else %}-->
        <p>You have no bookings.</p>
    <!--{% endif %}-->
</div>

<!-- Bootstrap Modal Structure -->
<div class="modal fade" id="bookingmodal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-position">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingModalLabel">Booking Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Booking details will be dynamically inserted here -->
                <p id="modalDate"></p>
                <p id="modalTime"></p>
                <p>Location: Eskilstuna Kungsgatan 36</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="googleCalendarLink" target="_blank" rel="noopener" 
                    href="#" 
                    class="gmail-show cta btn-yellow" 
                    style="background-color: #F4D66C; font-size: 18px; font-family: Helvetica, Arial, sans-serif; font-weight:bold; text-decoration: none; padding: 14px 20px; color: #1D2025; border-radius: 5px; display:inline-block; box-shadow:0 3px 6px rgba(0,0,0,.2);">
                    <span>Add to your Google Calendar</span>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}